body, li, input, button {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #444;
    text-align: center;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #444;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: 20px auto;
}


li {
    background: white;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
}


button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
    background: #45a049;
    transform: translateY(-2px);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
    gap: 20px; /* spacing between columns */
}

.column {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    max-height: 80vh;   /* adjust depending on how tall you want it */
    overflow-y: auto;   /* adds scrollbar when content exceeds max-height */
    padding-right: 5px; /* prevent text being cut by scrollbar */
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.form-group label {
    width: 120px; /* fixed label width */
    font-weight: bold;
}

.form-group input, 
.form-group select {
    flex: 1; /* take remaining space */
    padding: 5px;
}

.settlement-item {
    align-items: center;
    padding: 0px 6px;
}

.settlement-item form {
    margin: 0; /* remove extra margin */
    display: flex;
    align-items: center;
}
.settlement-item button {
    padding: 8px 10px; /* keeps it tight */
}

/*
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
*/

