<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Money Splitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Money Splitter</h1>
    <h2>Add Person</h2>
    <form action="{{ url_for('add_person') }}" id="person-form" method="post">
        <label>Person Name: <input type="text" id="name" name="name"></label>
        <button type="submit">Add</button><br>
    </form>
    <h2>Add Transaction</h2>
    <form action="{{ url_for('add_transaction') }}" id="transaction-form", method="post">
        <select id="payer" name="payer">
            {% for person in people %}
                <option value="{{ person.name }}">{{ person.name }}</option>
            {% endfor %}
        </select>
        </label>
        <br><br>
        <label>Transaction Name: <input type="text" id="name" name="name"></label><br>
        <label>Amount: $<input type="number" id="amount" name="amount" required></label>
        <br><br>
        <label>For:</label><br>
        {% for person in people %}
            <label><input type="checkbox" value="{{ person.name }}" name="beneficiaries" checked>{{ person.name }}</label><br>
        {% endfor %}
        <br><br>
        <button type="submit">Add</button>
    </form>

    <div class="Settlements">
        <h2>Settlements</h2>
        <ul id="settlements-list">
            {% for settlement in settlements %}
                <li>{{ settlement.debtor }} -> {{ settlement.creditor }}: ${{ settlement.payment }}</li>
                <form action="{{ url_for('settle', debtor=settlement.debtor, creditor=settlement.creditor)}}" method="POST" style="display:inline;">
                    <button type="submit">Settle</button>
                </form>
            {% endfor %}
        </ul>
    </div>

    <div class="balances">
        <h2>Balances</h2>
        <ul id="balances-list">
            {% for person in people %}
                <li>{{ person.name }} | Balance: ${{ person.balance }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="transactions">
        <h2>Transactions</h2>
        <ul id="transactions-list">
            {% for transaction in transactions %}
                <li>{{ transaction['print'] }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

